:root {
    --main-color: #c0392b;
    --body-bg: #000000;
    --box-bg: #0a0a53;
    --text-color: #ffffff;

    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    width: 100%;
    background: url("bkbmw.jpeg");
}


a {
    text-decoration: none;

}

img {
    max-width: 100%;
}

.main-color {
    color: var(--main-color);
}


.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #24247e;
}

.nav {
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 2rem;
}



.nav li{
    font-size: 1.3rem;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover{
    color:#ffffff;
}

.userlg{
    font-size: 1.50rem;
}

/* .................................................Dropdown models.................................................. */

.dropdown_models{
    position:relative;
    display: inline-block;
}


.dropdown_models-content{
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    background-color: #2929b4;
}

.btn{
    padding: 10px;
}

.btn:hover{
    border-radius: 5px;
}

.dropdown_models:hover .dropdown_models-content {
    display: flex;
    flex-direction: column;
}



form{
    margin-top: 50px;
}

input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border:none;
    outline: none;
    font-size: 1.1rem;
    color:#ffffff;
    background-color: #000000;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
}

#terms{
    width: 20px;
    height: 20px;
}

button{
    width: 300px;
    height: 40px;
    font-size: 1.1rem;
    background-color:#5252f3;
    border:none;
    color:#ffffff;
    cursor: pointer;
    margin-top: 30px;
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
}

form h1{
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: 300;
    display: flex;
    align-self: center;
    
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form p{
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 300;
}


.check{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

@media screen and (max-width:450px){
    .box{
        margin-top: 80px;
    }

    #hero{
        display: none;
    }

    body{
        background:#000000;
    }

 
}