<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            BMW Models
        </title>
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="/static/Files_CSS/style_brand.css" rel="stylesheet">
    </head>

    <body>
        <nav class="nav-wrapper">
            <div class="nav">
                <a href="index" class="logo">
                    <i class="bx bxs-car"></i>
                    Car<span class="main-color">Wow</span>
                </a>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="index">Home</a></li>

                    <li>
                        <div class="dropdown_models">
                            <a href="models.html"><span class="btn">Models</span></a>
                            <div class="dropdown_models-content">
                                <a href="audi.html">Audi</a>
                                <a href="bmw.html">BMW</a>
                                <a href="mercedes.html">Mercedes</a>
                            </div>
                        </div>
                        
                    </li>

                    <li><a href="quiz.html">Quiz</a></li>
                    <li>
                        <a href="#">
                            <i class="bx bxs-search userlg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="sign_in.html">
                            <i class="bx bxs-user userlg"></i>
                        </a>
                    </li>
                </ul>

                <!-- <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div> -->

            </div>

        </nav>

        <section id="hero2">
            <div class="container">
                <div class="info">
                    <h1>Explore the latest BMW models</h1>
                </div>
            </div>
        </section>

        <div id="sedan_suv">

            <div class="titlu_caroserie">
                <div class="divt">
                    Sedans
                </div>
            </div>
            <div class="container_masini">

                <div class="card">
                    <img class="card-image" src="/static/Images/bmw2_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW SERIES 2
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmw3_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW SERIES 3
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmW4_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW SERIES 4
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmw5_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW SERIES 5
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmw6_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW SERIES 6
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmw7_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW SERIES 7
                    </div>
                </div>
            </div>
            <div class="titlu_caroserie">
                <div class="divt">
                    SUVs
                </div>
            </div>
            <div class="container_masini">
                <div class="card">
                    <img class="card-image" src="/static/Images/bmwx1_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW X1
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmwx2_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW X2
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmwx3_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW X3
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmwx4_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW X4
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmwx5_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW X5
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmwx6_show.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW X6
                    </div>
                </div>

                <div class="card">
                    <img class="card-image" src="/static/Images/bmwx7_showimage.jpeg" alt=""> 
                    <div class="titlumasina">
                        BMW X7
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>