<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            CarWow
        </title>
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="/static/Files_CSS/style_quiz.css" rel="stylesheet">
    </head>
    <body>

        <div class="txtt">
            <h1>Game 3</h1>
            <p>This time Tom wants to drive but it might be a problem. The Squid game evil Doll wants to punish him if he moves on red light.</p>
            <p>Drive safe and don.t get yourself killed. Use the 'W', 'A', 'S', 'D' to drive.</p>
        </div>

        <buton id="btnn" onclick="reset_time()">Reset time</buton>

        <buton id="btnn" onclick="reset_green()">Reset green lights</buton>

        <buton id="btnn" onclick="reset_all()">Reset all</buton>

        <div class="lights">
            <div id="_green"></div>
            <div id="_red"></div>
        </div>

        <div id="div_bmw_move">
            <img src="/static/Images/car_moving.jpeg">
        </div>

        

        <script src="/static/Files_JS/quiz123.js"></script>
        
    </body>
</html>