<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                CarWow
            </title>
            <!-- GOOGLE FONTS -->
            <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
            <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
            <link href="/static/Files_CSS/style_quiz.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1>Game 4</h1>
            <p>Tom has an obsession for creating the perfect list of cars. He wants to cover the entire range of cars from SEDANs to SUVs.</p>
            <p>Help him create the perfect list.</p>
        </div>
        
        <div id="div_poza">
            <img src="/static/Images/boxm.jpeg" alt="">
        </div>

        <script src="/static/Files_JS/quiz4.js"></script>
        
    </body>

</html>

