<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            CarWow
        </title>
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="/static/Files_CSS/style_quiz.css" rel="stylesheet">
</head>
<body>
    <nav class="nav-wrapper">
        <div class="nav">
            <a href="index.html" class="logo">
                <i class="bx bxs-car"></i>
                Car<span class="main-color">Wow</span>
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="index.html">Home</a></li>

                <li>
                    <div class="dropdown_models">
                        <a href="models.html"><span class="btn">Models</span></a>
                        <div class="dropdown_models-content">
                            <a href="audi.html">Audi</a>
                            <a href="bmw.html">BMW</a>
                            <a href="mercedes.html">Mercedes</a>
                        </div>
                    </div>
                    
                </li>

                <li><a href="quiz.html">Quiz</a></li>
                <li>
                    <a href="#">
                        <i class="bx bxs-search userlg"></i>
                    </a>
                </li>
                <li>
                    <a href="sign_in.html">
                        <i class="bx bxs-user userlg"></i>
                    </a>
                </li>
            </ul>

            <!-- <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div> -->

        </div>

    </nav>

    <div class="div1">
        <h2>Game 1</h1>
        <p>Tom is a car-guy and wants to view the best models released by exclusive car brands such as BMW, Mercedes, Audi or Porsche.</p>
        <p>Help him find the best array of super-cars. Shuffle and make the perfect car list for Tom.</p>
        <button onclick="randomise()">Shuffle Cars</button>

    </div>

    <div class="div2">
        <h2>Game 2</h1>
        <p>Tom wants to create the perfect car list and he has 2 options. Those are 'push' and 'pop'.</p>
        <p>He can push any car he wants or pop the last car in the stack.</p>
        <input type="text" id="name" name="name" placeholder="enter car name">
        <button onclick="insert()">Push car</button>
        <button onclick="remove()">Pop car</button>

    </div>

    <div class="div2">
        <h2>Game 3</h2>
        <p>For Game 3 <a href="game3.html">click here</a></p>
    </div>

    <div class="div2">
        <h2>Game 4</h2>
        <p>For Game 4 <a href="game4.html">click here</a></p>
    </div>

    <div class="div2">
        <h2>Game 5</h2>
        <p>For Game 5 <a href="game5.html">click here</a></p>
    </div>

    <div class="div2">
        <h2>Game 6</h2>
        <p>For Game 6 <a href="game6.html">click here</a></p>
    </div>
    
    <script src="/static/Files_JS/quiz123.js"></script>

</body>
</html>